# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.tar.gz
*.rar
*.csv
!**/resources/**/*.csv
bin/
executable-jars/
tmp/
.settings
.metadata
.classpath
.project
.DS_Store
*.tmp
*.bak
*.swp
*~.nib

local.properties
.loadpath
.factorypath

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.idea
Intellij.iml
# Maven
**/Target/
# Dataset
/Examples/
.venv/

/out/

/.run/

**/target/